@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html, body {
    margin: 0;
    padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
}

.code, pre {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, monospace;
}